# Bibliotecas

In [3]:
import pandas as pd

# Leitura de dados

In [5]:
df = pd.read_excel("Base_Juridico.xlsx", sheet_name=1)
df.head()

,Sentença,Data_Julgamento,Região da Comarca,Tipo de Estratégia,Taxa Contratada,Valor Indenização
0,1,2019-07-01,Oeste,Estrategia C,3.1,0.000000
1,1,2019-07-01,Norte,Estrategia C,2.5,0.000000
2,0,2019-07-02,Sul,Estrategia A,4.0,2247.437094
3,1,2019-07-02,Sul,Estrategia B,2.6,0.000000
4,1,2019-07-03,Oeste,Estrategia B,4.1,0.000000

In [6]:
df.dtypes

Sentença                       int64
Data_Julgamento       datetime64[ns]
Região da Comarca             object
Tipo de Estratégia            object
Taxa Contratada              float64
Valor Indenização            float64
dtype: object

# Análise Exploratória

In [12]:
regiao_fa = df['Região da Comarca'].value_counts()
regiao_fr = (df['Região da Comarca'].value_counts(normalize=True)*100).round(2)
regiao_frequencia = pd.DataFrame({'Frequência Absoluta': regiao_fa,
                      'Frequência Relativa': regiao_fr})
regiao_frequencia

                   Frequência Absoluta  Frequência Relativa
Região da Comarca
Centro                              95                21.11
Sul                                 93                20.67
Norte                               89                19.78
Leste                               89                19.78
Oeste                               84                18.67

In [14]:
estrategia_fa = df['Tipo de Estratégia'].value_counts()
estrategia_fr = (df['Tipo de Estratégia'].value_counts(normalize=True)*100).round(2)
estrategia_frequencia = pd.DataFrame({'Frequência Absoluta': estrategia_fa,
                                      'Frequencia Relativa': estrategia_fr})
estrategia_frequencia

                    Frequência Absoluta  Frequencia Relativa
Tipo de Estratégia
Estrategia C                        158                35.11
Estrategia A                        157                34.89
Estrategia B                        135                30.00